.change-password-container {
    max-width: 400px;
    margin: auto;
    padding: 60px;
    text-align: center;
    background-color: #fff;
  }
  
  .message {
    color: red;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  