.logo-container {
  position: fixed;
  display: flex;
  justify-content: center; /* Centers the logo */
  align-items: center;
  padding: 10px 20px; /* Adds some space */
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #f5d9ff;
  z-index: 1000;
}

.logo {
    width: 70%;
    max-width: 200px;
    min-height: 90px;
    display: block;
    margin: 0 auto;
}
  